In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv('employee_data.csv')

In [ ]:
data.head()

   EmployeeID     Name Department    Location  Salary    JoinDate
0        1001  Michele      Sales   Islamabad   59678  2025-06-11
1        1002  Michael    Support      Multan  100523  2022-11-24
2        1003   Samuel  Marketing  Rawalpindi   51551  2024-08-11
3        1004   Sandra  Marketing  Faisalabad   54084  2023-06-08
4        1005    Ricky  Marketing  Rawalpindi   92452  2023-06-16

In [ ]:
data.shape

(200, 6)

##Check the average number of salary based on employee location

In [ ]:
grouped_by_location = data.groupby('Location')['Salary'].mean()
display(grouped_by_location)

Location
Faisalabad    90337.406250
Islamabad     82199.000000
Karachi       86763.540541
Lahore        87605.750000
Multan        84866.709677
Rawalpindi    84595.076923
Name: Salary, dtype: float64

Loading data

In [ ]:
 marketing_data = pd.read_csv('marketing_campaign_append1.csv')

In [ ]:
marketing_data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04/09/2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08/03/2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21/08/2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/02/2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19/01/2014,94,173,...,5,0,0,0,0,0,0,3,11,0

##Replacing Teen home with has,has no teen with column name Teenhome_replaced

In [ ]:
marketing_data['Teenhome_replaced'] = marketing_data['Teenhome'].replace([0,1,2],['has no teen','has teen','has teen'])

In [ ]:
marketing_data[['Teenhome','Teenhome_replaced']].head()

   Teenhome Teenhome_replaced
0         0       has no teen
1         1          has teen
2         0       has no teen
3         0       has no teen
4         0       has no teen

In [ ]:
marketing_data.isnull().sum()

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 13
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
Teenhome_replaced       0
dtype: int64

marketing_data.isnull().sum() gives you a Series where the index is the column names of the DataFrame and the values are the total number of null values in each corresponding column. This is very useful for identifying columns with missing data that might need to be handled (e.g., by dropping or imputing).

# *** Dropping null values***

In [ ]:
marketing_data = marketing_data.dropna(how = 'any')
marketing_data.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,Teenhome_replaced
0,5524,1957,Graduation,Single,58138.0,0,0,04/09/2012,58,635,...,0,0,0,0,0,0,3,11,1,has no teen
1,2174,1954,Graduation,Single,46344.0,1,1,08/03/2014,38,11,...,0,0,0,0,0,0,3,11,0,has teen
2,4141,1965,Graduation,Together,71613.0,0,0,21/08/2013,26,426,...,0,0,0,0,0,0,3,11,0,has no teen
3,6182,1984,Graduation,Together,26646.0,1,0,10/02/2014,26,11,...,0,0,0,0,0,0,3,11,0,has no teen
4,5324,1981,PhD,Married,58293.0,1,0,19/01/2014,94,173,...,0,0,0,0,0,0,3,11,0,has no teen

In [ ]:
marketing_data = pd.read_csv('marketing_campaign.csv')

## Appending two datasets as one

In [ ]:
appended_data = pd.concat([marketing_data, data  ])
appended_data.head()

,Unnamed: 0,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,...,Complain,Z_CostContact,Z_Revenue,Response,EmployeeID,Name,Department,Location,Salary,JoinDate
0,0.0,5524.0,1957.0,Graduation,Single,58138.0,0.0,0.0,04-09-2012,58.0,...,0.0,3.0,11.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2174.0,1954.0,Graduation,Single,46344.0,1.0,1.0,08-03-2014,38.0,...,0.0,3.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,4141.0,1965.0,Graduation,Together,71613.0,0.0,0.0,21-08-2013,26.0,...,0.0,3.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,6182.0,1984.0,Graduation,Together,26646.0,1.0,0.0,10-02-2014,26.0,...,0.0,3.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,5324.0,1981.0,PhD,Married,58293.0,1.0,0.0,19-01-2014,94.0,...,0.0,3.0,11.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

The output shows the first five rows of the combined DataFrame. You can see that the columns from both original DataFrames are present. Since the original DataFrames likely had different columns, the resulting DataFrame has columns from both, with NaN values for the columns that were not present in the original DataFrame for those rows.

## Concatinating two columns ID's from marketing data and employee data

In [ ]:
concatenated_data = pd.concat([marketing_data['ID'], data['EmployeeID']], axis = 1)

In [ ]:
concatenated_data

         ID  EmployeeID
0      5524      1001.0
1      2174      1002.0
2      4141      1003.0
3      6182      1004.0
4      5324      1005.0
...     ...         ...
2235  10870         NaN
2236   4001         NaN
2237   7270         NaN
2238   8235         NaN
2239   9405         NaN

[2240 rows x 2 columns]

The output you saw from the next cell concatenated_data shows this new DataFrame with the 'ID' column from marketing_data and the 'EmployeeID' column from data side by side. You'll notice that because the original DataFrames had different numbers of rows, the resulting DataFrame contains NaN values where there was no corresponding ID in one of the original DataFrames.

## Merging two datasets using a common attribute ID

In [ ]:
data.columns

Index(['EmployeeID', 'Name', 'Department', 'Location', 'Salary', 'JoinDate'], dtype='object')

In [ ]:
marketing_data.columns

Index(['Unnamed: 0', 'ID', 'Year_Birth', 'Education', 'Marital_Status',
       'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines',
       'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [ ]:
market = pd.read_csv('marketing_campaign_append1.csv')

In [ ]:
market

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04/09/2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08/03/2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21/08/2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10/02/2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19/01/2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,3136,1962,Master,Divorced,59432.0,0,1,13/04/2013,88,317,...,5,0,0,0,0,0,0,3,11,0
496,8737,1978,Graduation,Divorced,55563.0,0,1,05/04/2014,22,29,...,3,0,0,0,0,0,0,3,11,0
497,11088,1971,PhD,Together,78642.0,0,1,21/04/2013,83,1396,...,6,0,0,0,0,0,0,3,11,0
498,716,1949,PhD,Together,67911.0,0,1,22/05/2014,63,529,...,3,0,0,0,0,0,0,3,11,0
499,466,1944,Graduation,Married,65275.0,0,0,03/04/2013,9,388,...,2,0,0,0,0,0,0,3,11,0

In [ ]:
merged_data = pd.merge(marketing_data,market,on = "ID")
merged_data.head()

,Unnamed: 0,ID,Year_Birth_x,Education_x,Marital_Status_x,Income_x,Kidhome_x,Teenhome_x,Dt_Customer_x,Recency_x,...,NumWebVisitsMonth_y,AcceptedCmp3_y,AcceptedCmp4_y,AcceptedCmp5_y,AcceptedCmp1_y,AcceptedCmp2_y,Complain_y,Z_CostContact_y,Z_Revenue_y,Response_y
0,0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,...,7,0,0,0,0,0,0,3,11,1
1,1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,...,5,0,0,0,0,0,0,3,11,0
2,2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,...,4,0,0,0,0,0,0,3,11,0
3,3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,...,6,0,0,0,0,0,0,3,11,0
4,4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,...,5,0,0,0,0,0,0,3,11,0

## Sorting column values in decending order

In [ ]:
sorted_data = marketing_data.sort_values('NumStorePurchases', ascending=False)
sorted_data['NumStorePurchases']

2237    13
1325    13
499     13
755     13
470     13
        ..
1653     0
981      0
2132     0
1524     0
9        0
Name: NumStorePurchases, Length: 2240, dtype: int64

the values from the 'NumStorePurchases' column, sorted from the highest number of store purchases to the lowest.

## Categorizing Data into three category for NumStorePurchase in marketing_data datasets

In [ ]:
marketing_data['bins'] = pd.cut(x=marketing_data['NumStorePurchases'], bins=3, labels=['Low', 'Moderate', 'High'])
display(marketing_data[['NumStorePurchases', 'bins']].head())

   NumStorePurchases      bins
0                  4       Low
1                  2       Low
2                 10      High
3                  4       Low
4                  6  Moderate

 the 'NumStorePurchases' values and the assigned categories ('Low', 'Moderate', or 'High') based on which bin each value falls into.

## Dropping null values from datasts market

In [ ]:
market.shape

(2240, 31)

In [ ]:
marketing_data_duplicate = market.drop_duplicates()
marketing_data_duplicate.shape

(500, 29)

same columns and rows because there is no null value in datasets

## Deleting Single column use Drop Method from Marketing_data dataset

In [ ]:
data.shape

(200, 6)

In [ ]:
data.drop(labels=['JoinDate'], axis=1)

     EmployeeID      Name   Department    Location  Salary
0          1001   Michele        Sales   Islamabad   59678
1          1002   Michael      Support      Multan  100523
2          1003    Samuel    Marketing  Rawalpindi   51551
3          1004    Sandra    Marketing  Faisalabad   54084
4          1005     Ricky    Marketing  Rawalpindi   92452
..          ...       ...          ...         ...     ...
195        1196    Carrie      Support   Islamabad   65555
196        1197     Paula      Finance      Lahore   78191
197        1198   Matthew  Engineering   Islamabad   56593
198        1199    Samuel      Finance     Karachi   68949
199        1200  Margaret    Marketing     Karachi  109085

[200 rows x 5 columns]

## Changing Data formate of salary from int to float

In [ ]:
data['Salary_changed'] = data['Salary'].astype(float)
data['Salary_changed']

0       59678.0
1      100523.0
2       51551.0
3       54084.0
4       92452.0
         ...
195     65555.0
196     78191.0
197     56593.0
198     68949.0
199    109085.0
Name: Salary_changed, Length: 200, dtype: float64

From output you can see datatype of 'salary' changed from int to float